html, body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    max-height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    margin-top: 10px;
    height: 800px;
    width: 600px;
    display: flex;
    flex-direction: row;
}

#bar {
    height: 800px;
    width: 150px;
    background: #bebebe;
}

#top-menu {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
}

button {
    width: 150px;
    height: 30px;
    border: none;
    background: #bebebe;
    font-size: 15px;
}

button:hover {
    background: #cecece;
}


#list {
    height: 800px;
    width: 450px;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-pane {
    height: 750px;
    width: 400px;
    background: #cecece;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}